@import './vars';
@import './menu';
@import './register';
@import './buttons';
@import './pars';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 100vw;
    overflow: hidden;
    
}
